<!DOCTYPE html>
<html lang = "en">

    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
    </head>
 
<body class="bg-light">
    <div style="margin-top: 8%;">
        <center>
        <img src="logo.png" style="width: 32px;"><p class="bg-primary" style="font-family: 'Bebas Neue'; font-size: 100px; color:white;">JACE.COM</p>

        <div class="row" style="margin-top: 2%;">
            <div class="col">
                <a class="hover" href="https://www.facebook.com/johncarlo.ebreo/"><p style="font-family: 'Bebas Neue'; font-size: 20px;">FACEBOOK</p></a>
            </div>
            <div class="col">
                <a class="hover" href="https://www.instagram.com/jace.ebreo/"><p style="font-family: 'Bebas Neue'; font-size: 20px;">INSTAGRAM</p></a>
            </div>
            <div class="col">
                <a class="hover" href="https://github.com/jcmebreo"><p style="font-family: 'Bebas Neue'; font-size: 20px;">GITHUB</p></a>
            </div>
            
        </div>
            
                <div class="card border-primary bg-light" style="max-width: 29rem; height: 13rem; margin-top: 3%;">
                    <div class="row">
                        <form action="/personlist" method="POST">
                            <div class="col mt-5 text-center">
                                <div class="form-group w-100" style="margin-left: 15%;">
                                    <select name="selectTimezone" class="custom-select">
                                    <option disabled selected>Time Zone</option>
                                    <option value="Asia/Kabul">Afghanistan</option>
                                    <option value="Europe/Zagreb">Croatia</option>
                                    <option value="Europe/Copenhagen">Denmark</option>
                                    <option value="America/Jamaica">Jamaica</option>
                                    <option value="Asia/Manila">Philippines</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col text-center">
                                <button class="btn btn-outline-primary w-75">JOIN</button>
                            </div>
                        </form>
                        
                    </div>
                </div>

        </center>

    </div>
    


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
   
</body>

</html> 
